<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div align="center">
      <img src="assets/logos/BubbleBox-logo/vector/isolated-monochrome-white.svg" class="bb" width="50">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;">Safe & Sound</ion-card-subtitle>
      <ion-card-title style="text-align: center;">BubbleBox</ion-card-title>
    </ion-card-header>
    <ion-card-content style="position: relative; bottom: 20;">
    <ion-toolbar>
      <ion-title style="text-align: center;">Reporting Symptoms</ion-title>
    </ion-toolbar>
 

   
    <ion-list>
      <ion-item *ngFor="let entry of sym">
        <ion-label>{{entry.val}}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>
   <br>
   <ion-button outline item-start
        href="home"
        
     
      >
        Cancel
      </ion-button>
    
      <ion-button outline item-start
     

        (click)="saveReporting()"

        
       
      >
        Save
      </ion-button>
      <br>
      <br>
      <ion-text>   
        We also advise you to contact <b>112</b> or <b>1500</b> to communicate to a healthcare professional and not to go to the hospital or pharmacy.
         </ion-text>
 </ion-card-content>
  </ion-card>
   
  
</ion-content>