<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div align="center">
      <img src="assets/logos/BubbleBox-logo/vector/isolated-monochrome-white.svg" class="bb" width="50">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;">Safe & Sound</ion-card-subtitle>
      <ion-card-title style="text-align: center;">BubbleBox</ion-card-title>
    </ion-card-header>
    <ion-card-content style="position: relative; bottom: 20;">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div id="container">
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="person-outline"></ion-icon> Username
            </ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="key-outline"></ion-icon> Password
            </ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <hr>
          <hr>
          <ion-button expand="block" type="submit" color="success">
            Log in
            <ion-icon slot="end" name="log-in-outline"></ion-icon>
          </ion-button>
          <hr>
          <ion-button fill="outline" color="danger">
            Forgot Password?
          </ion-button>
          <hr>
          <p>Don't have an account? <a href="/reg">Sign up</a> .</p>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>