<ion-header [translucent]="true">
  <app-toolbar></app-toolbar>
</ion-header>


<ion-content>




  <ion-card>


    <ion-card-header>
      <img src="./assets/coronas.png" />
      <ion-card-subtitle>
        CONTACTS</ion-card-subtitle>
      <ion-card-title>NUMBER OF CONTACTS</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Contacts had in the last 14 days
    </ion-card-content>
  </ion-card>

  <ion-card>


    <ion-item href="/reporting" color="warning">
      <ion-icon name="thermometer-outline" slot="start"></ion-icon>
      <ion-title slot="start">
        Report Symptoms</ion-title>
      <ion-icon name="alert-outline" slot="end"></ion-icon>
    </ion-item>




  </ion-card>




  <ion-row>
    <ion-col>
      <ion-card id="cardd">
        <img src="./assets/clean_hands.png" />
      </ion-card>

    </ion-col>
    <ion-col>
      <ion-card id="cardd">
        <ion-row>
          <ion-col> <img src="./assets/avoid_close_contact.png" /></ion-col>
          <ion-col>

            <ion-title> Avoid close contact</ion-title>


          </ion-col>
        </ion-row>


      </ion-card>
    </ion-col>



  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card id="cardd">
        <img src="./assets/clean_disinfect.png" />
      </ion-card>


    </ion-col>

    <ion-col>
      <ion-card id="cardd">
        <img src="./assets/cover_cough.png" />
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>