<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button [color]="color[hsIndex]"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-spinner (click)="refreshState()" name="dots" *ngIf="hsIndex == 5" color="primary" style="margin-right: 15px;"></ion-spinner>
      <img  id="tool" src="assets/logos/BubbleBox-logo/vector/isolated-monochrome-white_contorno.png" width="50">
      <ion-chip [color]="color[hsIndex]" size="large" (click)="refreshState()" *ngIf="hsIndex != 5">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="0 0 100 300">
        <path [ngClass]="color[hsIndex]" d="
               M0,151h34.1c0.2,0,0.4-0.1,0.5-0.3l1.8-5.3c0.2-0.5,0.9-0.4,1,0.1l1.1,5.9c0.1,0.5,0.9,0.5,1,0l6.4-37
        c0.1-0.6,0.9-0.5,1,0l6.7,55c0.1,0.6,0.9,0.6,1,0l3.9-20c0.1-0.5,0.9-0.5,1,0l0.5,2.3c0.1,0.5,0.9,0.5,1,0l2.5-12.7
        c0.1-0.5,0.9-0.5,1,0l1.9,9.3c0,0.2,0.1,0.2,0.1,0l0.3-1.4c0-0.1,0.1-0.1,0.2,0l1.3,3.9c0.1,0.2,0.3,0.3,0.5,0.3H600
               " />
        <path [ngClass]="color[hsIndex]" d="
               M0,150h35.1c0.2,0,0.4-0.1,0.5-0.3l1.8-5.3c0.2-0.5,0.9-0.4,1,0.1l1.1,5.9c0.1,0.5,0.9,0.5,1,0l6.4-37
        c0.1-0.6,0.9-0.5,1,0l6.7,55c0.1,0.6,0.9,0.6,1,0l3.9-20c0.1-0.5,0.9-0.5,1,0l0.5,2.3c0.1,0.5,0.9,0.5,1,0l2.5-12.7
        c0.1-0.5,0.9-0.5,1,0l1.9,9.3c0,0.2,0.1,0.2,0.1,0l0.3-1.4c0-0.1,0.1-0.1,0.2,0l1.3,3.9c0.1,0.2,0.3,0.3,0.5,0.3H600" />    
      </svg>
        <ion-label>{{healtState[hsIndex]}}</ion-label>
      </ion-chip>
      
      
      
    </ion-buttons>
    
    
    
  </ion-toolbar>
</ion-header>


<ion-content >
 
      
   

  <ion-card>
   
    
    <ion-card-header>
      <img src="./assets/coronas.png"/>
      <ion-card-subtitle>
        CONTACTS</ion-card-subtitle>
      <ion-card-title>NUMBER OF CONTACTS</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Contacts had in the last 14 days
    </ion-card-content>
  </ion-card>

  <ion-card>
    
  
    <ion-item href="/reporting" color="warning">
      <ion-icon name="thermometer-outline" slot="start"></ion-icon>
      <ion-title>
        Report Symptoms</ion-title>
        <ion-icon name="alert-outline"></ion-icon>
    </ion-item>
  
    
  
   
  </ion-card>



  
    <ion-row>
      <ion-col>
        <ion-card id="cardd">
          <img src="./assets/clean_hands.png"/>
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card id="cardd">
          <ion-row>
          <ion-col> <img src="./assets/avoid_close_contact.png"/></ion-col>
          <ion-col>
            
           <ion-title> Avoid close contact</ion-title>


          </ion-col>
        </ion-row>
     
      
      </ion-card>
      </ion-col>
      
      
      
    </ion-row> 

    <ion-row>
      <ion-col>
        <ion-card id="cardd">
          <img src="./assets/clean_disinfect.png"/>
    </ion-card>
   
    
    </ion-col>
      
      <ion-col>
        <ion-card id="cardd">
          <img src="./assets/cover_cough.png"/>
      </ion-card>
      </ion-col>
    </ion-row>
    
  
</ion-content>